{:duct.profile/base
 {:duct.core/project-ns gr

  :duct.router/ataraxy
  {:routes
   {[:get  "/login"] [:gr.handler.auth/login]
    [:post "/login" {params :form-params}]
    [:gr.handler.auth/login-post params]

    [:get  "/groups"] [:gr.handler.core/groups]

    [:get  "/group"] [:gr.handler.core/new]
    [:post "/group" {params :form-params}]
    [:gr.handler.core/create params]

    [:get  "/delete/" n] [:gr.handler.core/delete ^int n]
    ;;
    [:get "/"] [:gr.handler/example]}}

  :gr.handler.auth/login      {}
  :gr.handler.auth/login-post {}

  :gr.handler.core/groups {}
  :gr.handler.core/new    {}
  :gr.handler.core/create {}
  :gr.handler.core/group  {}
  ;;:gr.handler.core/update {}
  :gr.handler.core/delete {}
  ;;
  :gr.handler/example {}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/site {}}
